<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title th:text="${name}">Etusivu</title>

        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.0/build/pure-min.css" />
        <style>
            .custom-restricted {
                height: 250px;
                width: 800px;
                border: 1px solid gray;
                border-radius: 4px;
            }

            .piilotus-vika {
                margin-left: 10px;
            } 

            .flex {
                display: flex;
                justify-content: center;
            }

            .pienennys {
                font-size: 90%;
                padding: 2px 6px;
            }
        </style>
    </head>
    <body>
        <center>
            <h2>Linkkisi</h2>

            <section th:each="linkki : ${linkit}">
                <form th:action="@{/{nimi}/delete/{linkki}(linkki=${linkki.id}, nimi=${name})}" th:method="DELETE">
                    <a th:href="${linkki.url}"><span class="pure-menu-link pure-menu-heading" th:text="${linkki.nimi}">nimi</span></a>
                    <span th:text="${linkki.kuvaus}">kuvaus</span>
                    <input type="submit" class="pure-button pienennys" value="x"></input>
                </form>
            </section>

            <h2>Lisää linkki</h2>

            <form class="pure-form" th:action="@{/{nimi}/add(nimi=${name})}" method="POST">
                <input type="text" class="pure-input-rounded" placeholder="Linkin nimi" name="nimi1"></input>
                <input type="text" class="pure-input-rounded" placeholder="Linkin url (http://...)" name="url"></input>
                <input type="text" class="pure-input-rounded" placeholder="Kuvaus" name="kuvaus"></input>
                <input type="submit" class="pure-button pure-button-active" value="Lisää"></input>
            </form>

            <br/><br/>
            <span class="pure-menu-link pure-menu-heading">Vieraskirja</span>
            <div class="pure-menu pure-menu-scrollable custom-restricted">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item" th:each="kommentti : ${kommentit}"><span class="pure-menu-link" th:text="${kommentti.kommentti}">kommentti</span></li>
                </ul>
            </div>
            <br/>
            <form th:action="@{/{nimi}/kommentti(nimi=${name})}" class="pure-form" method="POST">
                <input type="text" placeholder="Kommentti" class="pure-input-rounded" maxlength="67" name="kommentti"></input>
                <input type="text" placeholder="Nimimerkki" class="pure-input-rounded" maxlength="19" name="nimimerkki"></input>
                <input type="submit" class="pure-button pure-button-active" value="Kommentoi!"></input>
            </form>
            <br/>
            <div class="flex">
                <form th:if="${sivu.nakyvilla == true}" class="pure-form" th:action="@{/{nimi}/piilota(nimi=${name})}" th:method="POST">
                    <input type="submit"  class="pure-button pure-button-active" value="Piilota sivu etusivun listalta"></input>
                </form>
                <form th:if="${sivu.nakyvilla == false}" class="pure-form" th:action="@{/{nimi}/nayta(nimi=${name})}" th:method="POST">
                    <input type="submit"  class="pure-button pure-button-active piilotus-vika" value="Näytä sivu etusivun listalla"></input>
                </form>
                <form class="pure-form" th:action="@{/{nimi}/ilmianna(nimi=${name})}" th:method="POST">
                    <input type="submit"  class="pure-button pure-button-active piilotus-vika" value="Ilmianna sivu"></input>
                </form>
            </div>
            <br />
            <span th:if="${message != null}" th:text="${message}"></span>
            <br />
            <br />
            <a href="/">Takaisin etusivulle</a> 
           
        </center>

    </body>
</html>
